@model MarqMvc.Models.Cliente
@{
    ViewData["Title"] = "ClienteAdicionar";
    var ddlDiasDaSemana = Html.GetEnumSelectList<DiasDaSemana>();
}
<h2>ClienteAdicionar</h2>
<center><p id="mensagem" style="color:red">@TempData["Mensagem"]</p></center>
<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ClienteAdicionar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefone" class="control-label"></label>
                <input asp-for="telefone" class="form-control" />
                <span asp-validation-for="telefone" class="text-danger"></span>
            </div>
            @await Html.PartialAsync("_AgendamentoAdicionar")
            <div class="form-group">
                <input id="btnSalvar" type="button" value="Salvar Cliente" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script>
        $(function () {
            var txtTelefone = $("#telefone");
            txtTelefone.mask("(99) 99999-9999");

            var btnSalvar = $("#btnSalvar");
            btnSalvar.on("click", function () {

                var txtNomeCliente = $("#NomeCliente").val();
                var txtDataNascimento = $("#DataNascimento").val();
                var txtEndereco = $("#Endereco").val();
                var txtEmail = $("#Email").val();
                var txtTelefone = $("#Telefone").val();
                var txtDiaDaSemana = $("#DiaDaSemana").val();
                var txtHora = $("#Hora").val();


                //var jsonAgendamentoString = "";
                var jsonAgendamentoArray = new Array();

                $("select[name*=DiaDaSemana]").each(function () {
                    jsonAgendamentoString = { DiaDaSemana: $(this).val() , Hora: $(this).parent().siblings('div').find('input[name=Hora]').val() }
                    jsonAgendamentoArray.push(jsonAgendamentoString);
                     });

                //var jsonAgendamento = jsonAgendamentoArray;
                //jsonAgendamentoTeste = [{ DiaDaSemana: txtDiaDaSemana, Hora: txtHora }, { DiaDaSemana: txtDiaDaSemana, Hora: txtHora }]

                var jsonCliente = {
                    cliente : {
                        NomeCliente: txtNomeCliente,
                        DataNascimento: txtDataNascimento,
                        Endereco: txtEndereco,
                        Agendamentos: jsonAgendamentoArray
                    }
                };
                //var strJson = JSON.stringify({ cliente: jsonCliente });
                $.ajax({
                    url: "@Url.Action("ClienteAdicionar")", //"Cliente/ClienteAdicionar",
                    type: "POST",
                    data: jsonCliente,
                    dataType: "json",
                    error: function (response) {
                            $('#mensagem').html(response.mensagem);
                            window.scrollTo(0, 0);
                    },
                    success: function (response) {

                        //alert("sucesso" + @TempData["Mensagem"]);
                        if (response.success) {
                            window.location.href = "@Url.Action("ClienteLista")";
                        }
                        else {
                            $('#mensagem').html(response.mensagem);
                            window.scrollTo(0, 0);
                        }

                    }
                });
            });

            var lnkIncluirNovo = $('#lnkIncluirNovo');
            var divAgendamentos = $('#divAgendamentos');
            var divItemAgendamento = $('#divItemAgendamento');
            lnkIncluirNovo.on("click", function () {
                divItemAgendamento.append(divItemAgendamento.html());
            });
        });
    </script>
}