@model MarqMvc.Models.Cliente

@{
    ViewData["Title"] = "ClienteEditar";
}

<h2>ClienteEditar</h2>
<center><p id="mensagem" style="color:red">@TempData["Mensagem"]</p></center>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ClienteEditar">
            <div id="dadosCadastraisCliente">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdCliente" class="control-label" style="display:none"></label>
                    <input asp-for="IdCliente" class="form-control" readonly="readonly" />
                    <span asp-validation-for="IdCliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NomeCliente" class="control-label"></label>
                    <input asp-for="NomeCliente" class="form-control" />
                    <span asp-validation-for="NomeCliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataNascimento" class="control-label"></label>
                    <input asp-for="DataNascimento" class="form-control" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Endereco" class="control-label"></label>
                    <input asp-for="Endereco" class="form-control" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>
            </div>
            @await Html.PartialAsync("_AgendamentoEditar")
            @await Html.PartialAsync("_PagamentoEditar")
            <div class="form-group">
                <input type="button" value="Salvar" id="btnSalvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ClienteLista">Back to List</a>
</div>
@section Scripts {
    <script>
        $(function () {

            var txtTelefone = $("#telefone");
            var btnSalvar = $("#btnSalvar");
            //var btnEditarAgendamento = $("#btnEditarAgendamento");
            //var lnkIncluirNovo = $('#lnkIncluirNovo');
            //var lnkVoltar = $('#lnkVoltar');
            //var divAgendamentos = $('#divAgendamentos');
            var dadosCadastraisCliente = $('#dadosCadastraisCliente');
            //var divAgendamentosReadOnly = $('#divAgendamentosReadOnly');

            var btnAlterarAgendamento = $('.btn-alterar-agendamento');
            var btnExcluirAgendamento = $('.btn-excluir-agendamento');
            //var btnSalvarAgendamento = $('.btn-excluir-agendamento');

            txtTelefone.mask("(99) 99999-9999");

                btnSalvar.on("click", function () {

                    var txtIdCliente = $("#IdCliente").val();
                    var txtNomeCliente = $("#NomeCliente").val();
                    var txtDataNascimento = $("#DataNascimento").val();
                    var txtEndereco = $("#Endereco").val();
                    var txtEmail = $("#Email").val();
                    var txtTelefone = $("#Telefone").val();
                    var txtDiaDaSemana = $("#DiaDaSemana").val();
                    var txtHora = $("#Hora").val();


                    //var jsonAgendamentoString = "";
                    var jsonAgendamentoArray = new Array();

                    $("select[name*=DiaDaSemana]").each(function () {
                        jsonAgendamentoString = { DiaDaSemana: $(this).val(), Hora: $(this).parent().siblings('div').find('input[name=Hora]').val() }
                        jsonAgendamentoArray.push(jsonAgendamentoString);
                    });

                    //var jsonAgendamento = jsonAgendamentoArray;
                    //jsonAgendamentoTeste = [{ DiaDaSemana: txtDiaDaSemana, Hora: txtHora }, { DiaDaSemana: txtDiaDaSemana, Hora: txtHora }]

                    var jsonCliente = {
                        cliente: {
                            IdCliente: txtIdCliente,
                            NomeCliente: txtNomeCliente,
                            DataNascimento: txtDataNascimento,
                            Endereco: txtEndereco,
                            Agendamentos: jsonAgendamentoArray
                        }
                    };

                    $.ajax({
                        url: "@Url.Action("ClienteEditar")",
                        type: "POST",
                        data: jsonCliente,
                        dataType: "json",
                        error: function (response) {
                            $('#mensagem').html(response.mensagem);
                            window.scrollTo(0, 0);
                        },
                        success: function (response) {

                            if (response.success) {
                                window.location.href = "@Url.Action("ClientePaginaEditar")";
                            }
                            else {
                                $('#mensagem').html(response.mensagem);
                                window.scrollTo(0, 0);
                            }

                        }
                    });
                });

        });
    </script>
    <script src="~/js/agendamento-editar.js"></script>
    <script src="~/js/pagamento-editar.js"></script>
}
